.hdr {
    position: relative;
    overflow: hidden;
    padding: 10px 40px 40px 40px;
    width: calc(100% + 80px);
    color: var(--color-main-dark);
    margin: 0 -40px;
}

.hdr>* {
    position: relative;
    z-index: 2
}

.hdr__swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hdr__swiper-slide {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hdr__swiper-pagination {
    bottom: 40px;
    text-align: end;
}

.hdr__swiper-pagination>* {
    transform: translateY(-20px);
}

.hdr__nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    color: var(--color-main-dark);
    font-size: 16px;
}

.hrr__nav-logo {
    display: flex;
    width: 117px;
}

.hdr__nav-list {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.hdr__nav-list li {
    display: block;
}

/* контейнер дропдауна */
nav .dropdown {
    position: relative;
    display: block;
}

/* кнопка-активатор сверху */
nav .dropdown__toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* стрелочка */
nav .dropdown__chevron {
    font-size: 12px;
}

/* выпадающее меню */
nav .dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px 5px;
    background: rgba(255, 255, 255, 0.2);
    /* полупрозрачный фон */
    backdrop-filter: blur(12px);
    /* размытие фона */
    -webkit-backdrop-filter: blur(16px);

    display: none;
    /* скрыто по умолчанию */
}

/* показываем по ховеру */
nav .dropdown:hover .dropdown__menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* обычный пункт */
nav .dropdown__item {
    padding: 6px 0;
    cursor: pointer;
}

/* первый пункт-«заголовок» можно сделать чуть бледнее */
nav .dropdown__item--title {
    opacity: 0.8;
}

/* маленькая стрелочка справа */
nav .dropdown__arrow {
    font-size: 14px;
}

/* ховер для пунктов */
nav .dropdown__item:not(.dropdown__item--accent):hover {
    padding: 8px 12px;
    background: #fff;
    color: #000;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hdr__nav-contacts {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.hdr__h1 {
    font-family: var(--font-roboto);
    margin-top: 150px;
    width: 878px;
}

.hdr__h3 {
    margin-top: 40px;
    font-family: var(--font-inter);
    width: 434px;
}

.hdr__btn {
    width: 445px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 29px 0px;
    background-color: var(--color-main-white);
    color: var(--color-main-dark);
    font-family: var(--font-inter);
    font-size: 18px;
    line-height: 90%;
    text-decoration: none;
}


.product__swiper-slide {
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(236, 234, 229, 1);
}

.product__swiper-slide > div {
    width: 100%;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
}

.footer__links {
    display: flex;
    width: 100%;
    gap: 20%;
}

.footer__links-wrap h4 {
    font-family: var(--font-inter);
    margin-bottom: 20px;
    font-size: 16px;
}

.footer__links-wrap ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.footer__links-wrap ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__links-wrap li {
    color: rgba(30, 30, 30, 0.8);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.footer__contacts-wrap {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.footer__contacts-a {
    width: 290px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footer__contacts-order {
    margin-right: 20px;
    border: 1px solid;
}

.footer__contacts-tel {
    background-color: rgba(236, 234, 229, 1);
}

.footer__contacts-wrap-img-mobile {
    display: none;
}

.footer__policy {
    margin-top: 20px;
    padding: 20px 0;
    color: rgba(30, 30, 30, 0.5);
    display: flex;
    border-top: 1px solid rgba(30, 30, 30, 0.5);
}

.footer__policy-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__policy p {
    font-size: 12px;
}

@media (max-width: 1920px) {}

@media (max-width: 1650px) {
    .base__container {
        padding: 0 20px;
    }

    .hdr__nav {
        font-size: 14px;
    }

    .hdr__nav-list {
        gap: 20px;
    }

    .newCollection__h2 {
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    .inspiration__hdr {
        justify-content: flex-start;
    }

    .welcome {
        display: none;
    }
}


@media (max-width: 1250px) {
    .base__container {
        padding: 0 10px;
    }

    .hdr__nav-list,
    .hdr__nav-contacts {
        display: none;
    }

    .hdr__h1 {
        width: auto;
        font-size: 48px;
    }

    .hdr__h3 {
        font-size: 24px;
        width: auto;
    }

    .footer__links {
        flex-direction: column;
        gap: 40px;
    }

    .footer__contacts {
        height: 100%;
    }

    .footer__contacts-wrap {
        flex-direction: column;
        gap: 10px;
    }

    .footer__contacts-a {
        width: 165px;
    }

    .footer__contacts-wrap-img-mobile {
        display: block;
    }

    .footer__contacts-wrap-img-desc {
        display: none;
    }

    .inspiration__hdr-wrap {
        display: none;
    }

    .inspiration__hdr-h2 {
        font-size: 48px;
    }

    .inspiration__hdr__right {
        width: 100%;
        justify-content: flex-end;
    }

    .inspiration__hdr-p {
        display: inline;
        font-size: 18px;
        text-align: end;
    }

    .inspiration__br-mobile {
        display: inline;
    }
}

@media (max-width: 650px) {

    .base__container {
        padding: 0 5px;
    }

    .hdr__h1 {
        font-size: 36px;
    }

    .hdr__h3 {
        font-size: 18px;
    }

    .hdr__btn {
        width: 100%;
        font-size: 14px;
    }

    .inspiration__hdr-h2 {
        font-size: 32px;
    }

    .inspiration__hdr-p {
        font-size: 12px;
        width: auto;
    }
}