.hdr {
    overflow: hidden;
    color: var(--color-main-dark);
    padding: 0 40px;
    background-color: var(--color-main-grey-back);
    margin: 0 -40px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.hdr>* {
    display: flex;
    font-size: 14px;
}


.hdr__nav {
    display: flex;
    color: var(--color-main-dark);
    font-size: 16px;
}

.hdr__nav-logo {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.hdr__nav-list>ul {
    justify-content: baseline;
    gap: 0;
}

.hdr__nav-list-item {
    border: 1px solid var(--color-main-dark);
    padding: 10px 20px;
}

.hdr__nav-list-item:hover {
    background-color: var(--color-main-dark);
    color: var(--color-main-white);
}

.hdr__nav-list-right {
    border-left: none;
}

.hdr__nav-list-middle {
    border-right: none;
    border-left: none;
}

.hdr__nav-list-left {
    border-right: none;
}

.hdr__nav-logo {
    font-size: 24px;
}

.hdr__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}


.hdr__nav-menu {
    width: 290px;
    padding: 10px 0;
    border: 1px solid var(--color-main-dark);
    display: flex;
    justify-content: center;
}

.hdr__nav-menu>img {
    margin-left: 10px;
}

.hder__nav-order {
    width: 135px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border: 0.5px solid transparent;
    /* обязательно: border-image работает через прозрачную рамку */
    border-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(216, 119, 50, 1)) 12;
}


.extra__nav {
    margin-top: 50px;
    font-size: 14px;
}

.extra__nav>span {
    opacity: 0.2;
}

.newsBack {
    font-size: 12px;
    color: var(--color-main-white);
    background-color: var(--color-main-dark);
    width: 169px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
}

.main__header {
    margin-top: 50px;
}

.main__header-p {
    opacity: 50%;
    font-size: 12px;
}

.main__header-h {
    font-family: var(--font-roboto);
    line-height: 110%;
    width: 51%;
}

.news__content {
    margin-top: 30px;
}

.news__content-image-wrap {
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('../assets/img/newsPageItem/1.png');
    height: 400px;
    display: flex;
    align-items: end;
    padding: 20px 20px;
}

.news__content-image-wrap>h2 {
    font-family: var(--font-roboto);
    color: var(--color-main-white);
    font-size: 44px;
}

.news__cards-item-img>a>img {
    width: 10px;
    height: 10px;
}

.news__content-info-wrap {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.news__content-image-wrap-left {
    width: 60%;
}

.news__content-info-wrap-p-2 {
    margin-top: 30px;
    width: 70%;
}

.news__content-image-wrap-left-img {
    width: 85%;
    margin-top: 30px;
}

.news__content-image-wrap-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.news__content-image-wrap-right-img {
    width: 80%;
    margin-top: 75px;
}

.news__content-info-wrap-p {
    font-family: var(--font-roboto);
    font-size: 18px;
}

.calculation {
    display: flex;
    background-color: rgba(236, 234, 229, 1);
    margin: 0 -40px;
    margin-top: 110px;
    padding: 0 40px;
}

.calculation>div {
    width: 100%;
}

.calculation__leftWrap {
    display: flex;
    align-items: center;
    justify-content: start;
}

.calculation__leftWrap>h3 {
    font-size: 24px;
    font-family: var(--font-roboto);
}

.calculation__img {
    background-image: url('/assets/img/catalog/calculation.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.calculation__rigthWrap {
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.calculation__rigthWrap>a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
    width: 100%;
    height: 44px;
}

.calculation__rigthWrap-black {
    background-color: var(--color-main-dark);
    color: var(--color-main-white);
}

.next__newsItem {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.next__newsItem-up {
    width: 80px;
    height: 33px;
    font-size: 12px;
    color: var(--color-main-white);
    background-color: var(--color-main-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.next__newsItem-left {
    width: 320px;
    display: flex;
    flex-direction: column;
}

.next__newsItem-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    color: var(--color-main-white);
    height: 140px;
    background-image: url('../assets/img/newsPageItem/3.png');
}

.next__newsItem-img>P {
    font-family: var(--font-roboto);
    font-size: 16px;
    opacity: 0.7;
}

.next__newsItem-a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 18px;
    background-color: rgba(236, 234, 229, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
}

.footer__links {
    display: flex;
    width: 100%;
    gap: 20%;
}

.footer__links-wrap h4 {
    font-family: var(--font-inter);
    margin-bottom: 20px;
    font-size: 16px;
}

.footer__links-wrap ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.footer__links-wrap ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__links-wrap li {
    color: rgba(30, 30, 30, 0.8);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.footer__contacts-wrap {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.footer__contacts-a {
    width: 290px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footer__contacts-order {
    margin-right: 20px;
    border: 1px solid;
}

.footer__contacts-tel {
    background-color: rgba(236, 234, 229, 1);
}

.footer__contacts-wrap-img-mobile {
    display: none;
}

.footer__policy {
    margin-top: 20px;
    padding: 20px 0;
    color: rgba(30, 30, 30, 0.5);
    display: flex;
    border-top: 1px solid rgba(30, 30, 30, 0.5);
}

.footer__policy-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__policy p {
    font-size: 12px;
}

@media (max-width: 1920px) {}

@media (max-width: 1650px) {
    .base__container {
        padding: 0 20px;
    }

    .hdr__nav {
        font-size: 14px;
    }

    .extra__nav {
        margin-top: 60px;
    }

    .newCollection__h2 {
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    .inspiration__hdr {
        justify-content: flex-start;
    }

}

@media (max-width: 1440px) {
    .hdr {
        display: none;
    }

    .extra__nav {
        margin-top: 80px;
    }

    .news__content-info-wrap-p {
        font-size: 16px;
    }

    .news__content-image-wrap {
        background-size: 100% 100%;
    }

}

@media (max-width: 1250px) {
    .base__container {
        padding: 0 10px;
    }

    .main__header-h {
        width: 100%;
        font-size: 48px;
    }

    .footer__links {
        flex-direction: column;
        gap: 40px;
    }

    .footer__contacts {
        height: 100%;
    }

    .footer__contacts-wrap {
        flex-direction: column;
        gap: 10px;
    }

    .footer__contacts-a {
        width: 165px;
    }

    .footer__contacts-wrap-img-mobile {
        display: block;
    }

    .footer__contacts-wrap-img-desc {
        display: none;
    }


    .calculation_br {
        display: none;
    }
}

@media (max-width: 900px) {

    .calculation {
        flex-direction: column;
        gap: 25px;
        padding: 70px 10px;
        margin: 0 -10px;
        margin-top: 110px;
    }


    .calculation__img {
        height: 270px;
    }

    .calculation__rigthWrap {
        padding: 0;
    }
}

@media (max-width: 650px) {

    .base__container {
        padding: 0 5px;
    }

    .hdr__h1 {
        font-size: 36px;
    }

    .hdr__h3 {
        font-size: 18px;
    }

    .hdr__btn {
        width: 100%;
        font-size: 14px;
    }


    .footer__policy-hide {
        display: none;
    }

    .footer__policy-wrap-right {
        justify-content: flex-end;
    }

    .news__content-image-wrap {
        align-items: center;
        justify-content: center;
    }

    .news__content-info-wrap {
        flex-direction: column;
    }

    .news__content-image-wrap-left {
        width: 100%;
    }

    .news__content-info-wrap-p-2 {
        width: 100%;
    }

    .news__content-image-wrap-left-img {
        width: 100%;
    }

    .news__content-image-wrap-right {
        width: 100%;
    }

    .news__content-image-wrap-right-p {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .news__content-image-wrap-right-span {
        display: block;
        width: 70%;
    }

    .news__content-image-wrap-right-img {
        margin-top: 30px;
    }

    .next__newsItem-left{
        width: 180px;
    }
    
    .next__newsItem-img>p {
        font-size: 12px;
    }

    .next__newsItem-a {
        font-size: 14px;
    }
}

/* Дебаг обводка */
/* * {
    border: 1px solid red;
} */